* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Source Sans Pro';
  background: #fafafa;
}
h1,h2,h3,h4, h5 {
  font-weight: normal;
}
h5.notready {
  margin: 0;
  color: red;
  font-size: 12px;
}
object {
  margin: 50px 0;
}
a {
  color: #428bca;
  text-decoration: none;
}
.content {
  width: 400px;
  margin: 0 50%;
  left: -140px;
  position: relative;
}
.jumbo {
  padding: 20px 0;
  text-align: center;
  background: white;
}
.intro {
  width: 315px;
  margin: 20px auto;
  padding-left: 5px;
}
.example {
  font-size: 12px;
  font-family: 'Source Code Pro'
}
